html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: Arial, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 80%;
    margin: auto;
    gap: 20px;
}

.main-content {
    width: 100%;
}

.likes-hates {
    display: flex;
    gap: 20px;
    align-items: center;
}

.sidebar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sort {
    text-align: right;
    margin-bottom: 20px;
}

.sort a {
    margin-left: 10px;
    text-decoration: none;
    color: blue;
}

.post {
    border: 1px solid #000;
    padding: 10px;
    margin: 10px 0;
}

.post h2 {
    margin: 0;
}

.post p {
    margin: 10px 0;
}

.post .meta {
    color: gray;
}

.post .meta a {
    color: blue;
    text-decoration: none;
}

.like, .hate {
    margin-right: 10px;
    color: blue;
    text-decoration: none;
}

.new-movie-btn {
    margin-top: 10px;
}

.new-movie-btn a {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 37px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.form-container {
    margin: 20px 0;
    padding: 10px;
    border-radius: 4px;
}

.form-container h2 {
    margin-top: 0;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container label {
    margin-bottom: 5px;
}

.form-container input[type="text"],
.form-container textarea {
    padding: 5px;
    font-size: 16px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-container button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    align-self: flex-start;
}
