﻿@page
@model MovieRama.Web.Pages.AddMovieModel
@{
    ViewData["Title"] = "Add Movie";
}

<div class="container">
    <div class="form-container">
        <h2>Add a New Movie</h2>
        <form id="new-movie-form" method="post">
            <label for="title">Movie Title:</label>
            <input asp-for="createOptions!.Title" type="text" id="title" name="title" required >
            <label for="description">Description:</label>
            <textarea asp-for="createOptions!.Description" id="description" name="description" rows="10" required></textarea>
            <button type="submit">Add Movie</button>
        </form>
    </div>
</div>
