﻿@page
@model IndexModel
@using System.Security.Claims
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <input id="RequestVerificationToken" type="hidden"
           value="@Antiforgery.GetAndStoreTokens(HttpContext).RequestToken" />
    <div class="main-content">
        <div class="sort">
            Sort by:
            <a asp-page="./Index" asp-route-sortOrder="@Model.LikeSort">
                Likes
            </a>
            <a asp-page="./Index" asp-route-sortOrder="@Model.HateSort">
                Hates
            </a>
            <a asp-page="./Index" asp-route-sortOrder="@Model.CreatedSort">
                Date
            </a>
        </div>
        @{
            var userId = default(Guid?);
            var isAuthenticated = User.Identity!.IsAuthenticated;
            var userClaim = @User.FindFirst(ClaimTypes.NameIdentifier)?.Value;

            if (userClaim != null)
            {
                userId = Guid.Parse(userClaim);
            }
        }

        @foreach (var movie in Model.Movies)
        {
            <div class="post" data-movie-id="@movie.Id">
                <h2>@movie.Title</h2>
                <p class="meta">
                    Posted by
                    <a asp-page="./Index" asp-route-username="@movie.CreatedBy">@movie.CreatedBy</a>
                    @movie.TimeElapsed.Days days ago
                </p>
                <p>@movie.Description</p>
                <div class="likes-hates">
                    <p>Likes: <span class="likes-count">@movie.FiveStars</span></p>
                    <p>Hates: <span class="hates-count">@movie.ZeroStars</span></p>
                </div>

                @if (isAuthenticated && movie.UserId != userId)
                {
                    @if (movie.ZeroStars == 0 && movie.FiveStars == 0)
                    {
                        <p class="like-hate-action">
                            Be the first to vote for this movie:
                            <a class="like" data-rating-scale="@((byte)Constants.RatingScale.FiveStars)">Like</a> |
                            <a class="hate" data-rating-scale="@((byte)Constants.RatingScale.ZeroStars)">Hate</a>
                        </p>
                    }
                    else
                    {
                        var userRating = Model.UserRatings
                            .Where(r => r.MovieId == movie.Id)
                            .SingleOrDefault();

                        @if (userRating == null)
                        {
                            <p class="like-hate-action">
                                <a class="like" data-rating-scale="@((byte)Constants.RatingScale.FiveStars)">Like</a>
                                <a class="hate" data-rating-scale="@((byte)Constants.RatingScale.ZeroStars)">Hate</a>
                            </p>
                        }
                        else
                        {
                            @if (userRating.RatingScale == Constants.RatingScale.FiveStars)
                            {
                                <p class="like-hate-action">
                                    You like this movie!
                                    <a class="unlike">Unlike</a>
                                </p>
                            }
                            else if (userRating.RatingScale == Constants.RatingScale.ZeroStars)
                            {
                                <p class="like-hate-action">You hate this movie! <a class="unhate">Unhate</a></p>
                            }
                            else
                            {
                                <p class="like-hate-action">
                                    <a class="like" data-rating-scale="@((byte)Constants.RatingScale.FiveStars)">Like</a>
                                    <a class="hate" data-rating-scale="@((byte)Constants.RatingScale.ZeroStars)">Hate</a>
                                </p>
                            }
                        }
                    }
                }
            </div>
        }
    </div>
    @{
        if (isAuthenticated)
        {
            <div class="sidebar">
                <div class="new-movie-btn">
                    <a asp-page="./AddMovie">New Movie</a>
                </div>
            </div>
        }
    }
</div>



